<html>
    <head>
    </head>
    <body>
    <h1> Caesar Cipher </h1>
        <form>
    <p> What text do you want to encrpyt? </p>
        <input type='text' name='text' />
    <p> How many characters would you like to shift the text by? </p>
        <input type='text' name='shiftValue' />
        <input type='submit' value='encrypt' />
    <p> Output: <b><%= test %></b> </p>
        </form>
    </body>

</html>